* {
	margin:0;
	padding:0;
	border:0;
	outline:0;
}
html,body {
	width:100%;
	height:100%;
	margin:0;
	padding:0;
	border:0;
	outline:0;
}
body {
	margin:0;
	padding:0;
	border:0;
	outline:0;
	font-family:sans-serif;
	font-size:9pt;
	font-weight:normal;
}


/*
 * for sticky footer
 */
div.wrapper {
	margin: 0 auto -12px;
	min-height: 100%;
	height: auto !important;
	height: 100%;
	border:0;
	outline:0;
	padding:0;
}
div.wrapper2 {
	margin:0;
	border:0;
	outline:0;
	padding: 1px;
	clear:both;
}
div.wrapper3 {
	margin: -1px;
	border:0;
	outline:0;
	padding:0;
	clear:both;
}
div.footer, div.footerpush {
	margin:0;
	height: 12px;
	border:0;
	outline:0;
	padding:0;
	text-align: center;
	font-size:8px;
}



h1 {
	margin-top:1em;
	margin-bottom:0.2em;
	margin-left:0.5cm;
	margin-right:0.5cm;
}
h1, h1 input, h1 select, h1 textarea {
	font-family:sans-serif;
	font-weight:bold;
	font-size:19px;
}
h2 {
	margin-top:1em;
	margin-bottom:0.2em;
	margin-left:0.5cm;
	margin-right:0.5cm;
}
h2, h2 input, h2 select, h2 textarea {
	font-family:sans-serif;
	font-weight:bold;
	font-size:16px;
}
h3 {
	margin-top:1em;
	margin-bottom:0.2em;
	margin-left:0.5cm;
	margin-right:0.5cm;
}
h3, h3 input, h3 select, h3 textarea {
	font-family:sans-serif;
	font-weight:bold;
	font-size:14px;
}
h4, h5, h6 {
	margin-top:1em;
	margin-bottom:0.2em;
	margin-left:0.5cm;
	margin-right:0.5cm;
}
h4, h4 input, h4 select, h4 textarea,
h5, h5 input, h5 select, h5 textarea,
h6, h6 input, h6 select, h6 textarea {
	font-family:sans-serif;
	font-weight:bold;
	font-size:12px;
}

p,ul,ol {
	margin-top:0.5em;
	margin-bottom:0.5em;
	margin-left:0.5cm;
	margin-right:0.5cm;
}
p.bad {
	color:red;
	font-weight:bold;
}

a, a:active, a:visited, a:visited:active {
	color: #0000A0;
	text-decoration: none;
	font-weight: bold;
}
a:hover, a:visited:hover,
a:focus, a:visited:focus {
	color: #0000A0;
	text-decoration: underline;
	font-weight: bold;
}

ul, ol {
	margin: 1em 1.1cm;
}
ul ul, ul ol, ol ul, ol ol {
	margin: 0.5em 2em;
}
li {
	margin: 0.5em 0;
}

hr {
	border: none;
	background: black;
	color: white;
	height: 1pt;
	clear: both;
}

div.alert {
	margin: 15px;
	border: 2px solid #E00;
	padding: 8px 8px 8px 40px;
	background-image: url("alert.png");
	background-repeat: no-repeat;
	background-position: left center;
	background-color: #FFF4F4;
	color: #E00000;
	font-size: 13px;
	font-weight: bold;
}

div.side {
	float: right;
}

div.popup h2 { margin:0; line-height:0.8em; margin-bottom:0.2em; }
div.popup h2 img.icon { vertical-align:middle; padding-right:0.1em; }
div.popup p { cursor:default; }


/*******************************************************************************
 * tables
 */
table {
	margin: 1em 1cm;
	border-collapse: collapse;
}
table table {
	margin: 0;
}
tr {
	vertical-align: middle;
}
th, td {
	border: solid 1pt black;
	padding: 0.25em 0.4em;
}
th {
	vertical-align: top;
}
thead th {
	text-align: center;
}
th {
	text-align: right;
	/*background-color: #F4F4F4;*/
}
td {
	text-align: left;
	vertical-align: middle;
}
td.number {
	text-align: right;
	white-space: nowrap;
}


/*
 * fields table (for forms)
 */
table.fields th, table.fields td {
	border: none;
}
table.fields.condensed th,
table.fields.condensed td {
	padding: 0;
}
table.fields td.buttons {
	padding-top: 12px;
	text-align: right;
}
table.fields td.buttons .left {
	display: block;
	float: left;
	margin-left: 2px;
	margin-right: 2px;
}
table.fields tr.empty,
table.fields tr.linked input {
	background-color: #FFFFFF;
	color: #B0B0B0;
}
table.fields tr.linked,
table.fields tr.linked input {
	background-color: #FFFFFF;
	color: #0000FF;
}


/*
 * for maketable and others
 */
table.listing th {
	vertical-align: top;
}
table.listing th a,
table.listing th a:hover,
table.listing th a:visited,
table.listing th a:visited:hover {
	color: black;
	background-color: transparent;
}
table.listing td {
	height:23px;
	padding-top:0;
	padding-bottom:0;
	line-height:10px;
}
table.listing tr.even {
	background-color: #FFFFFF;
}
table.listing tr.even td {
	background-color: #FFFFFF;
}
table.listing tr.odd {
	background-color: #FFFFFF;
}
table.listing tr.odd td {
	background-color: #FFFFFF;
}
table.listing td.bottom {
	text-align: center;
}
table.listing td.buttons {
	text-align: center;
	padding:0 2px;
}
table.listing td.buttons span.separator {
	display:inline-block;
	width:4px;
}

form.listing.draghighlight th.top,
form.listing.draghighlight td.bottom {
	background-color: #DDD;
}
form.listing.draghighlight tr.even td,
tr.listing.draghighlight tr.even td {
	background-color: #DDD;
}
form.listing.draghighlight tr.odd td,
tr.listing.draghighlight tr.odd td {
	background-color: #DDD;
}
.draggable {
	cursor: move;
}


/*
 * borderless, marginless table
 */
table.layout {
	margin: 0;
	padding: 0;
	border-collapse: collapse;
}
table.layout > tbody > tr > td,
td.layout {
	margin: 0;
	border: none;
	padding: 0;
	vertical-align: top;
}


/*******************************************************************************
 * forms
 */
input, select, textarea, button, .button {
	display: inline-block;
	border: 1px solid black;
	background: white;
	color: black;
	margin: -1px 0;
	padding: 0px;
	font-family:sans-serif;
	font-size:9pt;
	font-weight:normal;
	text-decoration: none;
}
select {
	cursor: pointer;
}
textarea {
	font-family: monospace;
}
button, .button {
	cursor: pointer;
	border: 1px solid black;
	padding: 4px 4px 4px 4px;
	font-weight: bold;
}
button:focus, .button:focus {
	background-color: white;
	color: black;
	border: 2px solid black;
	padding: 3px 3px 3px 3px;
}
.button.ok,
.button.cancel,
.button.edit,
.button.delete {
	padding-left: 24px;
}
.button.ok:focus,
.button.cancel:focus,
.button.edit:focus,
.button.delete:focus {
	background-color: white;
	color: black;
	padding-left: 23px;
	background-position: 3px center;
}
a.button.ok,
a.button.cancel,
a.button.edit,
a.button.delete {
	text-decoration: none;
}
.button.ok {
	background: white url(ok.png) no-repeat 4px center;
	color: black;
}
.button.cancel {
	background: white url(cancel.png) no-repeat 4px center;
	color: black;
}
.button.edit {
	background: white url(edit.png) no-repeat 4px center;
	color: black;
}
.button.delete {
	background: white url(delete.png) no-repeat 4px center;
	color: black;
}


input[disabled], select[disabled], textarea[disabled] {
	border: 1px solid #FFF;
	background-color: white;
	color: black;
	margin: -1px 0;
	padding: 0px;
}

.tickbox {
	vertical-align: middle;
}
.input.number {
	text-align: right;
}

div.busy {
	width: 32px;
	height: 32px;
	background: transparent;
	background-image: url(busy5.gif);
	background-repeat: no-repeat;
}


/******************************************************************************
 * listings
 */

tr.disabled {
	color:#D0D0D0;
}
tr.disabled a {
	color:#B0D0FF;
}
tr.disabled a:hover {
	color:#B0D0FF;
}

.orderlink.asc .postfix {
	display:inline-block;
	margin:0;
	width:8px;
	height:4px;
	border:none;
	background: transparent url(asc.png) no-repeat top left;
	padding:0;
}
.orderlink.desc .postfix {
	display:inline-block;
	margin:0;
	width:8px;
	height:4px;
	border:none;
	background: transparent url(desc.png) no-repeat top left;
	padding:0;
}

.addbutton {
	display:inline-block;
	vertical-align:middle;
	margin:0;
	width:16px;
	height:16px;
	border:none;
	background: transparent url(add.png) no-repeat top left;
	cursor:pointer;
	padding:0;
}
.addbutton:hover { background-position: top right; }
.addbutton:active { background-position: bottom left; }
.addbutton:active:hover { background-position: bottom right; }

.findbutton {
	display:inline-block;
	vertical-align:middle;
	margin:0;
	width:16px;
	height:16px;
	border:none;
	background: transparent url("find.png") no-repeat top left;
	cursor:pointer;
	padding:0;
	float:right;
}
.findbutton:hover { background-position: top right; }
.findbutton:active { background-position: bottom left; }
.findbutton:active:hover { background-position: bottom right; }

.nofindbutton {
	display:inline-block;
	vertical-align:middle;
	margin:0;
	width:16px;
	height:16px;
	border:none;
	background: transparent url("nofind.png") no-repeat top left;
	cursor:pointer;
	padding:0;
	float:right;
}
.nofindbutton:hover { background-position: top right; }
.nofindbutton:active { background-position: bottom left; }
.nofindbutton:active:hover { background-position: bottom right; }

.firstbutton {
	display:block;
	float:left;
	margin:0;
	width:24px;
	height:24px;
	border:none;
	background: transparent url(first.png) no-repeat top left;
	cursor:pointer;
	padding:0;
}
.firstbutton:hover { background-position: top right; }
.firstbutton:active { background-position: bottom left; }
.firstbutton:active:hover { background-position: bottom right; }

.prevbutton {
	display:block;
	float:left;
	margin:0;
	width:24px;
	height:24px;
	border:none;
	background: transparent url(prev.png) no-repeat top left;
	cursor:pointer;
	padding:0;
}
.prevbutton:hover { background-position: top right; }
.prevbutton:active { background-position: bottom left; }
.prevbutton:active:hover { background-position: bottom right; }

.nextbutton {
	display:block;
	float:left;
	margin:0;
	width:24px;
	height:24px;
	border:none;
	background: transparent url(next.png) no-repeat top left;
	cursor:pointer;
	padding:0;
}
.nextbutton:hover { background-position: top right; }
.nextbutton:active { background-position: bottom left; }
.nextbutton:active:hover { background-position: bottom right; }

.lastbutton {
	display:block;
	float:left;
	margin:0;
	width:24px;
	height:24px;
	border:none;
	background: transparent url(last.png) no-repeat top left;
	cursor:pointer;
	padding:0;
}
.lastbutton:hover { background-position: top right; }
.lastbutton:active { background-position: bottom left; }
.lastbutton:active:hover { background-position: bottom right; }

.editbutton {
	display:inline-block;
	vertical-align:middle;
	margin:0;
	width:16px;
	height:16px;
	border:none;
	background:transparent url(edit.png) no-repeat top left;
	cursor:pointer;
	padding:0;
}
.editbutton:hover { background-position: top right; }
.editbutton:active { background-position: bottom left; }
.editbutton:active:hover { background-position: bottom right; }

.okbutton {
	display:inline-block;
	vertical-align:middle;
	margin:0;
	width:16px;
	height:16px;
	border:none;
	background:transparent url(ok.png) no-repeat top left;
	cursor:pointer;
	padding:0;
}
.okbutton:hover { background-position: top right; }
.okbutton:active { background-position: bottom left; }
.okbutton:active:hover { background-position: bottom right; }

.cancelbutton {
	display:inline-block;
	vertical-align:middle;
	margin:0;
	width:16px;
	height:16px;
	border:none;
	background:transparent url(cancel.png) no-repeat top left;
	cursor:pointer;
	padding:0;
}
.cancelbutton:hover { background-position: top right; }
.cancelbutton:active { background-position: bottom left; }
.cancelbutton:active:hover { background-position: bottom right; }

.deletebutton {
	display:inline-block;
	vertical-align:middle;
	margin:0;
	width:16px;
	height:16px;
	border:none;
	background:transparent url(delete.png) no-repeat top left;
	cursor:pointer;
	padding:0;
}
.deletebutton:hover { background-position: top right; }
.deletebutton:active { background-position: bottom left; }
.deletebutton:active:hover { background-position: bottom right; }

.refreshbutton {
	display:inline-block;
	vertical-align:middle;
	margin:0;
	width:16px;
	height:16px;
	border:none;
	background:transparent url(refresh.png) no-repeat top left;
	cursor:pointer;
	padding:0;
}
.refreshbutton:hover { background-position: top right; }
.refreshbutton:active { background-position: bottom left; }
.refreshbutton:active:hover { background-position: bottom right; }


/*******************************************************************************
 * the navigation bar
 */

ul.tabs {
	display:block;
	clear:both;
	margin:0;
	border:0;
	padding:0;
	padding-left:16px;
	background-color: black;
	/*height:24px;*/
}
ul.tabs li {
	display:inline-block;
	margin:0;
	border:0;
	padding:0;
	height:24px;
}
ul.tabs li {
	margin-left:-16px;
}
ul.tabs li a {
	display:inline-block;
	vertical-align:top;
	margin:0;
	border:0;
	border-top: 1px solid black;
	border-bottom: 1px solid black;
	padding:0;
	padding-top: 3px;
	height: 19px;
	background-color: white;
	color: black;
	font-size: 12px;
}
ul.tabs li.active a {
	border-bottom: 0;
	height: 20px;
}
ul.tabs span.tableft,
ul.tabs span.tabright {
	display: inline-block;
	vertical-align:top;
	margin:0;
	border:0;
	padding:0;
	width: 16px;
	height: 24px;
	background-color:transparent;
}
ul.tabs li span.tableft {
	background-image:url(tab7.png);
}
ul.tabs li span.tabright {
	background-image:url(tab8.png);
}
/*ul.tabs li.active {
	margin-left: 0px;
	margin-right: 16px;
}*/
ul.tabs li.active span.tableft {
	background-image:url(tab1.png);
}
ul.tabs li.active span.tabright {
	background-image:url(tab2.png);
}
ul.tabs li.aactive span.tableft {
	background-image:url(tab4.png);
}
/*
ul.tabs li.active span.tabright {
	background-image:none;
}
ul.tabs li.active.last span.tabright {
	background-image:url(tab2.png);
}

ul.tabs li span.tableft {
	background-image:url(tab7.png);
}
ul.tabs li.active span.tableft {
	background-image:url(tab1.png);
}
*/

td.excessive { color:#FF00FF; }
td.insufficient { color:#FF0000; }
td.uncertain { color:#C0C0C0; }
td.uncertain.insufficient { color:#FFC0C0; }
td.uncertain.excessive { color:#FFC0FF; }
