html,body { margin:0; padding:0; border:0; outline:0; width:100%; height:100%; }
body {
	font-family:sans-serif;
	font-size:10px;
	font-weight:normal;
}

p,ul,ol { margin-top:0.25em; margin-bottom:0.25em; }
h1,h2,h3,h4,h5,h6 {
	margin-bottom:0.2em;
}
h1, h1 input, h1 select, h1 textarea,
h2, h2 input, h2 select, h2 textarea,
h3, h3 input, h3 select, h3 textarea,
h4, h4 input, h4 select, h4 textarea,
h5, h5 input, h5 select, h5 textarea,
h6, h6 input, h6 select, h6 textarea {
	font-family:sans-serif;
	font-weight:bold;
}
h1, h1 input, h1 select, h1 textarea { font-size:19px; }
h2, h2 input, h2 select, h2 textarea { font-size:16px; }
h3, h3 input, h3 select, h3 textarea { font-size:14px; }
h4, h4 input, h4 select, h4 textarea { font-size:12px; }
h5, h5 input, h5 select, h5 textarea { font-size:10px; }
h6, h6 input, h6 select, h6 textarea { font-size:8px; }

p.bad { color:red; font-weight:bold; }

a img { border: none; }

a, a:active, a:visited, a:visited:active {
	color: #0095D4;
	text-decoration: none;
}
a:hover, a:visited:hover {
	color: #0095D4;
	text-decoration: underline;
}

hr {
	border:none;
	background:black;
	color:white;
	height:1px;
	clear:both;
}

dl {
	margin: 0; padding: 0;
}
dt {
	float: left;
	text-align: right;
	margin: 5px 10px 0 0;
	width: 160px;
	font-size: 11px;
}
dd {
	margin-bottom: 5px;
}

table { border-collapse:collapse; border-spacing:0; }
tr.layout { vertical-align:top; }
td.layout { margin:0; border:none; background:none; padding:0; }
th.left { text-align:left; }
th.top { vertical-align:top; }
td.notes { color:blue; font-weight:bold; }
td.notes textarea,
td.notes input {
	color:blue; font-weight:bold;
}
td.number { text-align:right; white-space:nowrap; }
th.number { text-align:center; white-space:nowrap; }

table.seplayout { border-collapse:separate; border-spacing:1em; margin:-1em; }
tr.seplayout { vertical-align:top; }
td.seplayout { margin:0; border:none; background:none; padding:0; }

form.big { /*border: 1px solid lightgrey;*/ padding: 0.3em; }
form.small { /*border: 1px solid lightgrey;*/ padding: 0.2em; }
form h3 { text-align: center; margin: 0 0 1em 0; padding: 0; }
.buttons { text-align:right; padding-top:0.5em; padding-bottom:0; margin:0; }
form.big .buttons { text-align: right; padding-top: 1em; padding-bottom: 0; }
form.small .buttons { text-align: right; padding-top: 0.5em; padding-bottom: 0;}
span.tick:hover { background: #E0E0E0; }

input, select, textarea {
	font-family:sans-serif;
	font-size:10px;
	font-weight:normal;
}
input[disabled] { color:#B0B0B0; }
.tickbox { vertical-align: middle; }
.textarea, .select, button, .button { border: 1px solid #C1C1C1; color:black; background-color:white; }
.input.number { text-align:right; }
.button > img { vertical-align:middle; }
.button.icon { margin:0; cursor:pointer; padding:0; border:0; }
.button.icon > img { margin:0;padding:0; }

.output { border: 1px solid #A0A0A0; background: #F8F8F8; }
.output { padding:0; margin:0; }
.output a { text-decoration: none; }

.ops .left { padding-bottom: 0.5em; padding-right: 1em; }
.ops .right { text-align: right; padding-bottom: 0.5em; }

div.alert {
	margin:10px;
	border:2px solid #E00000;
	padding:5px;
	background-color:#FFFFFF;
	color:#E00000;
}

div.busy {
	width:32px;
	height:32px;
	background: transparent;
	background-image:url(busy5.gif);
	background-repeat:no-repeat;
}


/*****************************************************************************/
/*
 * listings
 */
table.listing {
	border: 1px solid #CCCCCC;
	border-collapse: separate;
	border-spacing: 0;
}
th.listing {
	vertical-align:top;
}
tr.listing, td.listing {
	vertical-align:middle;
}
th.listing a,
th.listing a:hover,
th.listing a:visited,
th.listing a:visited:hover {
	color: black;
	background-color: transparent;
}
th.listing, td.listing.bottom {
	background-color: #E8E8E8;
	padding: 4px;
	text-align: left;
}
th.listing {
	border-bottom: 1px solid #CCCCCC;
}
td.listing.bottom {
	border-top: 1px solid #CCCCCC;
	text-align: center;
}
td.listing.bottom div.pagingbuttons { margin-top:-3px; margin-bottom:-3px; }
td.listing.bottom div.pagingbuttons.left { margin-left:-3px; margin-right:3px; }
td.listing.bottom div.pagingbuttons.right { margin-right:-3px; margin-left:3px; }
td.listing {
	height:23px;
	padding:0;
	line-height:10px;
}
tr.listing.even {
	background-color: #FFFFFF;
}
tr.listing.odd {
	background-color: #F8F8F8;
}

form.listing.draghighlight th.listing.top,
form.listing.draghighlight td.listing.bottom {
	background-color: #C8C8E8;
}
form.listing.draghighlight th.listing.top {
	border-bottom: 1px solid #ACACCC;
}
form.listing.draghighlight td.listing.bottom {
	border-top: 1px solid #ACACCC;
}
form.listing.draghighlight tr.listing.even td.listing,
tr.listing.draghighlight tr.listing.even td.listing {
	background-color: #DFDFFF;
}
form.listing.draghighlight tr.listing.odd td.listing,
tr.listing.draghighlight tr.listing.odd td.listing {
	background-color: #D8D8F8;
}
td.listing.draggable {
	cursor: move;
}

td.listing.last {
	border-right:none;
}
td.listing.buttons {
}
td.listing.buttons span.separator {
	display:inline-block;
	width:4px;
}
td.listing {
	border-right: 1px solid #CCCCCC;
	margin: 0;
	padding: 0 4px;
}
td.listing.specialvalue {
	font-weight: bold;
}

tr.disabled {
	color:#D0D0D0;
}
tr.disabled a {
	color:#B0D0FF;
}
tr.disabled a:hover {
	color:#B0D0FF;
}

.addbutton {
	display:inline-block;
	vertical-align:middle;
	margin:0;
	width:16px;
	height:16px;
	border:none;
	background: transparent url(add.png) no-repeat top left;
	cursor:pointer;
	padding:0;
}
.addbutton:hover { background-position: top right; }
.addbutton:active { background-position: bottom left; }
.addbutton:active:hover { background-position: bottom right; }

/******************************************************************************/

.pagelayout { width:100%; height:100%; }
.pagerow { vertical-align:top; }
.toplevel { padding-right:5px; padding-left:5px; }
.rightpane { width:100%; height:100%; border-left: 1px dashed gray;}

div.menu { margin:0; margin-top:0.5em; margin-bottom:0.5em;
           border:1px solid #A0A0A0; background-color:white; }
div.menu h3 { margin-top:0; background-color:#E0E0E0; cursor:default; text-align:center; }
div.menu h3 a { color:black; background-color:white; }
div.menuitem { margin:0; }
div.menuitem a { display:block; margin:0; }
div.menuitem a:hover { text-decoration:none; background-color:#E0E0E0; }
div.menu h3 a:hover, div.menu h3 a:active, div.menu h3 a:visited { color:black; background-color:white; }

div.popup h2 { margin:0; line-height:0.8em; margin-bottom:0.2em; }
div.popup h2 img.icon { vertical-align:middle; padding-right:0.1em; }
div.popup p { cursor:default; }

.backlink { margin:0; padding:0; }
.footer { padding-top:0.7em; text-align:center; font-size:6px; }

/*****************************************************************************/

ul.tabs {
	display:block;
	clear:both;
	margin:0;
	margin-left:-5px;
	margin-right:-5px;
	border-bottom:1px solid black;
	padding:0;
	background-color: gray;
	height:23px;
}
ul.tabs li {
	display:block;
	float:left;
	margin:0;
	padding:0;
	font-weight:bold;
}
ul.tabs li a {
	display:block;
	margin:0;
	margin-right:-1px;
	border-top:1px solid black;
	border-left:1px solid black;
	border-right:1px solid black;
	border-bottom:1px solid black;
	padding:5px;
	padding-left:10px;
	padding-right:10px;
	height:12px;
	background-color: #E0E0E0;
}
ul.tabs li.active a {
	border-bottom:none;
	height:13px;
	background-color: white;
}
ul.tabs li a:hover {
	background-color: white;
}

img.side {
	float:right;
	margin:1em;
}

.instructions li.optional {
	color:gray;
	background-color:white;
	margin-left:0.5em;
}

tr.result {
	vertical-align:top;
}

tr.printerord {
	vertical-align:top;
}

td.nutrientcols {
	border-right: 2px solid #808080;
	padding-left: 10px;
	padding-right: 10px;
}
td.nutrientcols.last {
	border-right: none;
}
table.nutrients td.number {
	width:75px;
}
table.nutrients td.excessive {
	color:#FF00FF;
}
table.nutrients td.insufficient {
	color:#FF0000;
}
table.nutrients td.uncertain {
	color:#C0C0C0;
}
table.nutrients td.uncertain.insufficient {
	color:#FFC0C0;
}
table.nutrients td.uncertain.excessive {
	color:#FFC0FF;
}
