Order deny,allow
Deny from all
Allow from all

php_flag magic_quotes_gpc Off
php_flag magic_quotes_runtime Off
php_flag magic_quotes_sybase Off
php_flag expose_php Off
php_value include_path ".:..:../..:../../..:../../../..:../../../../.."
